@model IEnumerable<Project.Random.Questions.Models.Question>

@{
    ViewData["Title"] = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Question</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quiz.Name)
                </td>
                <td style="text-align: right;">
                    <a asp-action="Edit" asp-route-id="@item.IdQuestion">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdQuestion">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdQuestion">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
